


#topbar {
    width: 1000px;
    height: 40px; 
    margin: 0 auto;
}

body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

#logo {
    margin-top: 8px;
    float: left;
}

.topbar-item {
    float: left;
    border-left: 1px #CCCCCC solid;
    height: 100%;
    margin-left: 15px;
}

#sign-in-icon {
    width: 25px;
    margin: 10px 0px 10px 8px;
    float: left;
}

#sign-in-txt {
    margin-right: 80px;
}

.top-bar-text {
    font-weight: bold;
    font-size: 90%;
    position: relative;
    top: 12px;
    margin-left: 15px;
}

.search-bar {
    background-color: #E4E4E4;
    border: none;
    font-weight: bold;
    font-size: 90%;
    padding: 4px;
    margin: 8px 15px;
    float: left;
}

.clear {
    clear: both;
}

#menu-bar-container {
    background-color: #BB1919;
    width: 100%;
    height: 70px;
    border-top: 1px #CCCCCC solid;
}

#menu-bar {
    width: 1000px;
    margin: 0 auto;
}

h1 {
    margin: 0;
    color: white;
    font-weight: lighter;
    font-size: 40px;
    padding-top: 12px
}

#menu-bar-2-container {
    width: 100%;
    height: 40px;
    background-color: #A91717;
}

#menu-bar-2 {
    width: 1000px;
    margin: 0 auto;
}

#menu-bar-2 a {
    color: white;
    text-decoration: none;
    position: relative;
    top: 11px;
    margin-right: 5px;
    padding-right: 10px;
    font-size: 95%;
    border-right: #BB4545 solid 1px
}

#menu-bar-2 a:hover {
    text-decoration: underline;
}

.no-border {
    border: none !important;
}

#page-container {
    width: 1000px;
    margin: 0 auto;
}

#main-article {
    float: left;
    margin-top: -10px;
    width: 660px;
    border-right: 1px solid #CCCCCC;
    padding-right: 8px;
}

h2 {
    margin: 10px 0px 15px 0px;
    font-weight: normal;
    font-size: 20px;
    border-bottom: 3px #BB1919 solid;
    width: 103px;
}

h3 a {
    color: black;
    font-size: 25px;
    font-weight: bolder;
    text-decoration: none;
}

h3 a:hover {
    color: #1167a8;
}

#article-summary {
    color: #5a5a5a;
    width: 255px;
    float: left;
    padding-right: 15px;
}

#clock {
    height: 17px;
    position: relative;
    top: 2.5px;
}

#topic-link {
    color: #BB1919;
    text-decoration: none;
}

#topic-link:hover {
    color: #1167a8;
}

#separator-line {
    border-right: 1px solid #CCCCCC;
    margin-right: 8px;
    margin-left: 3px;
}

#article-img {
    width: 380px;
}

p {
    
}

#summary-blurb {
    margin-top: 0;
}

#related-links-separator {
    width: 40px;
    float: left;
    border: #BB1919 solid 1px;
    margin-top: -5px; 
}

#related-link {
    color: black;
    float: left;
    text-decoration: none;
}

#related-link:hover {
    color: #1167a8;
}
